.nav{
    padding-right: 10%;
}

.body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:max-content;
}

html,
body {
    margin: 0;
    padding: 0;
}

.main{
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    height: 100%;
    border: 0px solid black;
    padding: 1%;
    display:inline-flex;
    flex-wrap: nowrap;
    align-content: center;
    flex: 1 0 100%; 

}

.card{
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(12, 12, 26);
    background: linear-gradient(3deg, rgb(148, 148, 177) 0%, rgba(187,187,224,1) 18%, rgb(250, 254, 255) 100%);
    margin: 1%;
    margin-left: 18%;
    width: 25%;
    height: 100%;
    padding: 5%;
    padding-left: 5%;
    font-display: center;
    align-content: center;
    /* border: 2px solid rgb(156, 159, 168); */
}

.card a {
    color:rgb(125, 125, 245);
  }

  .card a:hover {
    color:rgb(152, 131, 245);
    font-size: 103%;
  }


.mainInfo{
    /* background-color: cadetblue; */
    margin: 25%;
    margin-top: 1px; 
    margin-bottom: 1px; 
    width: 50%;
    height: 100%;
    border: 0px solid black;
    padding: 1%;
    align-content: center; 


}

.cardInfo{
    background: linear-gradient(13deg, rgb(113, 112, 124) 0%, rgba(187,187,224,1) 18%, rgb(250, 254, 255) 100%);
    margin: 1%;
    margin-left: 25%;
    width: 20%;
    height: 100%;
    padding: 1%;
    /* border: 2px solid rgb(73, 74, 77); */
    border-radius: 10px;

}

#boxInfo{
    /* position: relative;
    float: right; */
}


/* #email{

    margin-right: 1%;
} */

.row{
    width: 50%;
}

.maincontainer{
    /* display: grid;
    grid-template-columns: repeat(2, auto);  */
    /*background-color: cadetblue;
     margin: auto; */
    width: 100%;
    height: 100vh;

    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 1 0 100%; 
}

.container{    
    color: black;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(1deg, rgb(113, 112, 124) 0%, rgba(187,187,224,1) 18%, rgb(250, 254, 255) 100%);
    margin: 2%;
    margin-left: 2%;
    margin-top: 1%;
    width: 30%;
    height: 35%;
    padding: 1%;
    font-display: center;
    align-content:center;
    border: 0px solid black;
    border-radius: 20px;
}

.submit{
    margin-left: 1%;
    display:inline-flex;
    flex-wrap: wrap;
    align-content: center;
}

.buttonRow{
    margin-left: 42%;
    width: 20%;
    height: 30%;
    border: 0px solid black;
}