/* Makes the backgroudn image fit the page. */


.nav{
    padding-right: 10%;
}

.body{

}

html,[data-theme='dark'] {
    --bg:#292929;
    --bg-panel: #110f0f;
    --color-headings: #3694FF;
    --color-text: #B5B5B5;
}

.main{
    margin: auto;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    padding: 1%;
    display:inline-flex;
    flex-wrap: nowrap;
    align-content: center;
    flex: 1 0 100%; 

}

.card{
    background-color: cornflowerblue;
    margin: 1%;
    margin-left: 15%;
    width: 25%;
    height: 100%;
    padding: 5%;
    font-display: center;
    align-content: center;
    border: 3px solid black;
 

}


.mainInfo{
    margin: 25%;
    margin-top: 5%;
    width: 50%;
    height: 100%;
    padding: 1%;


}

.cardInfo{
    background-color: cornflowerblue;
    margin: 5%;
    margin-left: 25%;
    width: 45%;
    height: 100%;
    padding: 1%;
    border: 3px solid black;

}

#boxInfo{
    position: relative;
    float: right;
}

#email{

    margin-left: 25%;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:max-content;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *::after {
  transition: all 750ms !important;
  transition-delay: 0 !important; 

}

